{
  "users": [
    {
      "username": "your_username",
      "password_hash": "use_werkzeug.security.generate_password_hash()",
      "role": "admin"
    },
    {
      "username": "your_username_2",
      "password_hash": "use_werkzeug.security.generate_password_hash()",
      "role": "staff"
    }
  ]
}
